<blockquote class="comment">
  <%= simple_format(comment.text) %>
  <footer>
    <%= time_ago_in_words(comment.created_at) %> ago
    by <cite><%= comment.user %></cite>
  </footer>
</blockquote>

<p>
  <% if comment.previous_state != comment.state %>
    <strong><i class="fa fa-gear"></i> state changed</strong>
    <% if comment.previous_state.present? %>
       from<%= render comment.previous_state %>
    <% end %>
     to <%= render comment.state %>
  <% end %>
</p>
